{% extends "base.html" %}
{% block content %}
<div class="container page-form">
    <form id="login-form" action="/auth/login" method="post">
        <div class="form_group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" name="email">
        </div>
        <div class="form_group">
            <label for="email">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <hr>

        <button type="submit" class="btn btn-success">Log in</button>
    </form>
</div>
{% endblock %}